.introduction {
    display: block;
    margin: 0;

    background: linear-gradient(rgba(30, 30, 30, 0.5), rgba(30, 30, 30, 0.5)), url("../clg2021/images/city-from-above.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;

    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;

    padding: 150px;
}

.about {
    display: block;
    margin: 0;

    background-color: whitesmoke;
}

.about-heading {
    padding: 50px;
    margin: 0;
}

.about-text {
    padding: 0px 50px 50px 50px;
    margin: 0;
}

.quote {
    display: block;
    margin: 0;

    background: linear-gradient(rgba(30, 30, 30, 0.5), rgba(30, 30, 30, 0.5)), url("../clg2021/images/amsterdam-index.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;

    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;

    padding: 150px;
}

.barcelona-intro {
    display: block;
    background-size: cover;
    background-position: center;
    background: linear-gradient(rgba(30, 30, 30, 0.5), rgba(30, 30, 30, 0.5)), url("../clg2021/images/barc-intro.jpg");
    background-repeat: none;
    background-size: cover;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    padding: 150px;
}
.dubai {
    text-align: center;
}

