
button{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    text-align: center;

    color: black;
    background-color: whitesmoke;

    border-radius: 10px;
    border: 1px rgb(1, 29, 66) solid;

    padding: 0.75% 1.5% 0.75% 1.5%;
    margin: 0.5%;


}



/* STYLES REGARDING THE INITIAL PAGE */

.index-about {
    display: block;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.index-about-heading {
    padding: 50px;
    margin: 0;
}
.index-about-text {
    padding: 0px 50px 50px 50px;
    margin: 0;
}


/* SETTING UP IMAGES (INITIAL PAGE + INDIVIDUAL BLOG PAGES) */

.index-intro {
    background: linear-gradient(rgba(30, 30, 30, 0.5), rgba(30, 30, 30, 0.5)), url("../clg2021/images/city-from-above.jpg");
}
.amsterdam-intro {
    background: linear-gradient(rgba(30, 30, 30, 0.5), rgba(30, 30, 30, 0.5)), url("../clg2021/images/amsterdam-intro.jpg");
}
.barcelona-intro {
    background: linear-gradient(rgba(30, 30, 30, 0.5), rgba(30, 30, 30, 0.5)), url("../clg2021/images/barc-intro.jpg");
}
.dubai-intro {
    background: linear-gradient(rgba(30, 30, 30, 0.5), rgba(30, 30, 30, 0.5)), url("../clg2021/images/dubai.jpg");
}
.index-quote {
    background: linear-gradient(rgba(30, 30, 30, 0.5), rgba(30, 30, 30, 0.5)), url("../clg2021/images/amsterdam-index.jpg");
}
.amsterdam-quote {
    background: linear-gradient(rgba(30, 30, 30, 0.5), rgba(30, 30, 30, 0.5)), url("../clg2021/images/amsterdam-index.jpg");
}
.barcelona-quote{
    background: linear-gradient(rgba(30, 30, 30, 0.5), rgba(30, 30, 30, 0.5)), url("../clg2021/images/barc-second-pic.jpg");
}
.dubai-quote {
    background: linear-gradient(rgba(30, 30, 30, 0.5), rgba(30, 30, 30, 0.5)), url("../clg2021/images/dubai3.jpg");
}

/* DIVS WITH IMAGE BACKGROUNDS */

.index-intro, .index-quote, .amsterdam-intro, .amsterdam-quote, .barcelona-intro, .barcelona-quote, .dubai-intro, .dubai-quote {
    display: block;
    padding: 10%;
    margin: 0;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;

    /* IMAGE PARALLAX */

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
}


/* STYLES REGARDING INDIVIDUAL BLOG PAGES */

.amsterdam-about, .barcelona-about, .dubai-about {
    display: block;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
}
.amsterdam-info, .barcelona-info, .dubai-info {
    display: block;
    margin: 0;
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.amsterdam-about-heading, .amsterdam-info-heading, .barcelona-about-heading, .barcelona-info-heading {
    padding: 10%;
    margin: 0;
}
.amsterdam-about-text, .amsterdam-info-text, .barcelona-about-text, .barcelona-info-text {
    padding: 0 10% 10% 10%;
    margin: 0;
}

/* DUBAI  */

.dubai-intro {
    background: linear-gradient(rgba(30, 30, 30, 0.5), rgba(30, 30, 30, 0.5)), url("../clg2021/images/dubai.jpg");
}
.dubai {
    text-align: center;
}
