/* STYLES REGARDING THE INITIAL PAGE */

.about {
    display: block;
    margin: 0;
    background-color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.about-heading {
    padding: 50px;
    margin: 0;
}
.about-text {
    padding: 0px 50px 50px 50px;
    margin: 0;
}

/* SETTING UP IMAGES (INITIAL PAGE + INDIVIDUAL BLOG PAGES) */

.introduction {
    background: linear-gradient(rgba(30, 30, 30, 0.5), rgba(30, 30, 30, 0.5)), url("../clg2021/images/city-from-above.jpg");
}
.amsterdam-intro {
    background: linear-gradient(rgba(30, 30, 30, 0.5), rgba(30, 30, 30, 0.5)), url("../clg2021/images/amsterdam-intro.jpg");
}
.barcelona-intro {
    background: linear-gradient(rgba(30, 30, 30, 0.5), rgba(30, 30, 30, 0.5)), url("../clg2021/images/barc-intro.jpg");
}
.dubai-intro {
    background: linear-gradient(rgba(30, 30, 30, 0.5), rgba(30, 30, 30, 0.5)), url("../clg2021/images/dubai.jpg");
}
.index-quote {
    background: linear-gradient(rgba(30, 30, 30, 0.5), rgba(30, 30, 30, 0.5)), url("../clg2021/images/amsterdam-index.jpg");
}
.amsterdam-quote {
    background: linear-gradient(rgba(30, 30, 30, 0.5), rgba(30, 30, 30, 0.5)), url("../clg2021/images/amsterdam-index.jpg");
}
.barcelona-quote{
    background: linear-gradient(rgba(30, 30, 30, 0.5), rgba(30, 30, 30, 0.5)), url("../clg2021/images/barc-second-pic.jpg");
}

/* DIVS WITH IMAGE BACKGROUNDS */

.introduction, .index-quote, .amsterdam-intro, .barcelona-intro, .dubai-intro, .amsterdam-quote, .barcelona-quote, .dubai-quote {
    display: block;
    padding: 150px;
    margin: 0;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;

    /* IMAGE PARALLAX */

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
}

/* STYLES REGARDING INDIVIDUAL BLOG PAGES */

/* BARCELONA */

.barcelona-about {
    display: block;
    margin: 0;
    background-color: whitesmoke;
}
.barcelona-info {
    display: block;
    margin: 0;
    background-color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.barcelona-about-heading {
    padding: 50px;
    margin: 0;
}
.barcelona-about-text {
    padding: 0px 50px 50px 50px;
    margin: 0;
}

/* DUBAI  */

.dubai {
    text-align: center;
}
       
