/* STYLES REGARDING THE INITIAL PAGE */

.introduction {
    display: block;
    margin: 0;

    background: linear-gradient(rgba(30, 30, 30, 0.5), rgba(30, 30, 30, 0.5)), url("../clg2021/images/city-from-above.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;

    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;

    padding: 150px;
}

.about {
    display: block;
    margin: 0;

    background-color: whitesmoke;
}

.about-heading {
    padding: 50px;
    margin: 0;
}

.about-text {
    padding: 0px 50px 50px 50px;
    margin: 0;
}

.barcelona-quote{
    background: linear-gradient(rgba(30, 30, 30, 0.5), rgba(30, 30, 30, 0.5)), url("../clg2021/images/barc-second-pic.jpg");
}

.index-quote {
    background: linear-gradient(rgba(30, 30, 30, 0.5), rgba(30, 30, 30, 0.5)), url("../clg2021/images/amsterdam-index.jpg");
}

.index-quote, .barcelona-quote {
    display: block;
    margin: 0;

    
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;

    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;

    padding: 150px;
}



.barcelona-intro, .dubai-intro {
/* STYLES REGARDING INDIVIDUAL BLOG PAGES */



.amsterdam-intro {
    background: linear-gradient(rgba(30, 30, 30, 0.5), rgba(30, 30, 30, 0.5)), url("../clg2021/images/amsterdam-intro.jpg");
}

.barcelona-intro {
    background: linear-gradient(rgba(30, 30, 30, 0.5), rgba(30, 30, 30, 0.5)), url("../clg2021/images/barc-intro.jpg");
}

.dubai-intro {
    background: linear-gradient(rgba(30, 30, 30, 0.5), rgba(30, 30, 30, 0.5)), url("../clg2021/images/dubai.jpg");
}

.barcelona-intro, .dubai-intro, .amsterdam-intro {
    display: block;
    margin: 0;

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    padding: 150px;
}
.barcelona-about{

.barcelona-info{
    display: block;
    margin: 0;

    background-color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.barcelona-about-heading {
    padding: 50px;
    margin: 0;
}

.barcelona-about-text {
    padding: 0px 50px 50px 50px;
    margin: 0;
}




.dubai-intro {
    background: linear-gradient(rgba(30, 30, 30, 0.5), rgba(30, 30, 30, 0.5)), url("../clg2021/images/dubai.jpg");
}


.dubai {
    text-align: center;
}
       
